
body {
    	background-color: #A52A2A;
    	color: black;
	}

h1 {
    	font-family: 'Times New Roman',Times,sans-serif;
    	color: white;
    	font-size: 50px;
	}

a {
    	color: yellow;
    	font-family: 'Dancing Script', cursive;
    	font-size: 24px;
    	text-decoration: none;
	}

a:hover{
  	color: black;
	}

